/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/


/* Images */
img {
    width: 100%;
  }


  
/* Font styling */
  body {
    background-color: #0B0D10;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    letter-spacing: 0.7px;
    color: #ffffff;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-family: 'adobe-caslon-pro';
    line-height: 1.2; 
    letter-spacing: 0.15em;
    font-size: 1.75em;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(216, 216, 216, 0.693)
  }
  
  h2 {
    font-family: 'adobe-caslon-pro';
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(216, 216, 216, 0.693)
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: 800;
  }

  h4 {
    font-size: 0.8em;
    font-weight: 400;
    color: rgba(216, 216, 216, 0.693)
  }




  /* Hyperlinks */
  a {
    color: #ff7f50;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:visited { /* visited link */
    color: #ff7f50;
  }
  a:active { /* selected link */
    color: #994c30;
  }

  a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}


/* Buttons */
.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: rgba(155,119,29,0.4);
    color: #ffffff!important; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s opacity;
  }
  
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #9B771D;
    text-transform: uppercase;
    border: 2px solid #9B771D;
  }

  .button.contact:hover {
    background-color: #9B771D;
    color: #ffffff;
  }



  /* Header Styling */
  header {
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  #hero h1, h2 {
    text-align: center; /* Centers text */
  }



  


  /* Layout styling */
  .container {
    padding: 0 15px;
  }
   



/* Row */
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}



/* Logo */
.logo {
  max-width: 150px;
}



/* List Styling */
nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.7px;
  color: rgb(155,119,29)!important;
}

nav > ul > li > a:active {
  color: rgb(244, 188, 46)!important;
}

nav > ul > li > a:hover {
  color: rgba(155, 119, 29, 0.45)!important;
}



/* Hero Section */
#hero {
  background-color: #0F1016;
  padding-top: 2em;
  padding-bottom: 3em;
  border-left: -10px;
  border-right: -10px;
}



/* Footer Styling */
#contact {
  padding-top: 20px;
  margin: 15px;
}






/* Border Website */
body {
  border: 10px solid #0B0D10;
  }